* {
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

header {
    background-color: beige;
    padding: 20px;
    display: flex;
    justify-content: center;
}

header > div {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

nav {
    display: flex    

}

nav a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

nav>a:hover {
    text-shadow: 10px -5px 1px;   
}




#home {
    display: flex;
    height: 600px;
    background-color: blanchedalmond;    
    justify-content: center;
    align-items: center;  
    gap: 2rem;  
}

#home div h1 {
    font-size: 2.5rem;
    color: rgb(255, 0, 0);
    margin: 0;
}

#home div h3 {
    font-size: 1.5rem;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#home div p {
    color: black;
    font-size: 1rem;
    margin-top: 0;
}

#home button {
    border: 0;
    background-color: white;
    color: black;
    border-radius: 40px;
    padding: 20px 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: .5rem .5rem 1rem black;
    cursor: pointer;
    transition: .3s;
}

#home button:hover {
    background-color: aquamarine;
    color: brown;
}

#home button a{
    text-decoration: none;
}

#home img {
    height: 400px;
    border: 0;
    border-radius: 20px;
    box-shadow: 10px 10px 10px;
    /* width: auto; */

}

/* opacity 0, visibility visible */

/* about me section */

#about h1{
    text-align: center;
    font-size: 2.5rem;   
    height: 70px;
    background-color: beige;
    margin: 0;
    padding-top: 10px;
}

#about > div {
    display: flex;
   background-color: blanchedalmond;    
    justify-content: center;
    align-items: center;  
}

/* .about-container {
    width: auto;
    display: flex;
    justify-content: center;   
    padding: 0; 
    margin: 0;
} */

#about p {
    line-height: 2rem;
}

.about-text {
    max-width: 400px;
    margin: 50px;
}

.profile-picture {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    /* display: flex; */
    margin: 50px;
}


.profile-picture img { 
    height: 300px; 
}





/* project section*/

#projects {
    background-color: blanchedalmond;
    /* height: 700px; */
    padding: 1px;
}

#projects h1 {
    text-align: center;
    font-size: 2.5rem;   
    height: 70px;
    background-color: beige;
    margin: 0;
    padding-top: 10px;
}

#projects > div {
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 2rem; 
}

.sample {
    position: relative;
    /* margin: 20px; */
    text-align: center;
}

#projects img {
    height: 200px;
    /* display: flex; */
}

.sample > p {
    font-size: 20px;
}

.sample > p:hover {
    text-shadow: 0px 0px 1px;
    font-weight: bolder;   
}






/* this is the contact sectiob */

#contact {
    background-color: blanchedalmond;
    height: 600px;
    padding: 1px;
}

#contact h1 {
    text-align: center;
    font-size: 2.5rem;   
    height: 70px;
    background-color: beige;
    margin: 0;
    padding-top: 10px;
}

#contact h3 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

#contact div {
    margin-top: 40px;   
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;       
}

input, textarea, button {
    padding: .5rem 1rem;
    border: 0;
    border-radius: 5px;
    margin: .3rem;
    color: black;
    box-shadow: 11px 11px 10px; 
  }

button:hover {
    background-color: black;
    color: white;
    box-shadow: 11px 11px 10px; 
}

textarea:hover {
    background-color: aquamarine;
    color: black;
}

input:hover {
    background-color: aquamarine;
    color: black;    
}


footer {
    background-color: beige;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer > div{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 2rem; */
}

footer > div > * {
    flex: 1;
    /* margin: auto; */
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    /* position: left; */
}


footer nav {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* margin: 10px; */
}
